/* Reset Básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Body */
body {
  background: linear-gradient(to bottom right, #FFFFFF, #A084CA);
  color: #4A004E;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
/* Barra de Navegação */
header {
  width: 100%;
  background: rgba(112, 80, 135, 0.95);
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.logo {
  font-size: 10px;
  height: 150px;
  color: #F3E5F5;
  font-weight: 70px;
  border-radius: 50%;
  left: -350px;
  top: 10px;
  position: absolute;
}

/* Links da Barra de Navegação */
.nav-links {
  display: flex;
  gap: 15px;
}

.nav-container {
  color: #b308ce;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 25px; /* Arredondamento dos contêineres */
  background-color: #ab7dc4; /* Tom de roxo mais forte */
  transition: background-color 0.3s
}

.nav-container {
  color: #F3E5F5;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 25px;
  background-color: #ab7dc4;
  transition: background-color 0.3s;
}

.nav-container:hover {
  background: #663399;
}

.navbar a.active {
  background-color: #a15fc1;
}

/* Container Principal */
.content-container {
  max-width: 900px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  top: 100px;
  text-align: center;
}

/* Títulos e Textos */
.title {
  font-size: 28px;
  color: #5e239d;
  margin-bottom: 20px;
}

.text {
  font-size: 18px;
  color: #4a4a4a;
  line-height: 1.8;
  margin-bottom: 20px;
}

.social-link {
  color: #5e239d;
  text-decoration: none;
}

.social-link:hover {
  text-decoration: underline;
}

/* Footer */
footer {
  width: 100%;
  padding: 30px 0;
  text-align: center;
  background: rgba(112, 80, 135, 0.95);
  color: #F3E5F5;
  position:absolute;
  top: 900px;
}